.header {
    width: 500px;
    height: 400px;
}

.header_logo {
    width: 300px;
    height: 300px;

    cursor: pointer;
}

.main_title {
    text-decoration: underline;
    color: darkgreen;
}

.about_title {
    text-transform: uppercase;
}

.gallery_main_img {
    width: 500px;
    height: 300px;
}