.section_about {
    padding-top: 25px;
}

.about_title {
    display: flex;
    align-items: center;
    font-size: 25px;
    text-transform: capitalize;
    width: 30%;
}

.about_row {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1024px) {
    .about_row {
        flex-direction: column;
    }
}

.about_text {
    flex: 1 1 auto;
}

.about_text_title {
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 24px;
}

.btn {
    padding: 20px 40px;
    font-weight: bold;
    background-color: green;
    color: black;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
}

.about_line {
    width: 40%;
    background: green;
    height: 2px;
}

.about_title_img {
    width: 30%;
    flex: 2 2 auto;
    margin-right: 1%;
}

.about_part_counter {
    margin-top: 40px;
}

.single_counter {
    width: 33.33%;
    text-align: center;
    float: left;
}

.single_counter span {
    font-size: 40px;
    font-weight: 150;
    line-height: 45px;
}

.single_counter p {
    text-transform: uppercase;
}