.footer_part {
    margin-top: 70px;
    background-color: rgb(212, 216, 212);
}

.footer_logo {
    display: flex;
    cursor: pointer;
}

.footer_logo_img {
    padding-left: 2%;
    width: 100px;
}

.footer_title {
    color: black;
    font-weight: bold;
    font-size: x-large;
}

.footer_line {
    width: 40%;
    background: black;
    height: 2px;
}

.footer_row {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

.single_footer_part h4 {
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.single_footer_part p {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
}

.single_footer_part input {
    padding: 8px 22px;
    border-radius: 50px;
    margin-top: 15px;
}

.mail_part {
    position: relative;
}

.email_icon {
    right: 0px;
    top: 12px;
    width: 60px;
    height: 39px;
    background-color: green;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    line-height: 10px;
    border: 2px solid;
}

.fa-paper-plane:before {
    content: "\f1d8";
}