.gallery {
    padding-top: 25px;
}

.gallery_title {
    display: flex;
    align-items: center;
    font-size: 25px;
    text-transform: capitalize;
    width: 45%;
}

.gallery_line {
    width: 40%;
    background: green;
    height: 2px;
}

.project_gallery {
    position: relative;
    height: 420px;
}

.project_img {
    position: absolute;
    left: 0%;
    top: 0px;
    width: 50%;;
}

.project_img2 {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 50%;
    height: auto;
}

.project_img3 {
    position: absolute;
    left: 0%;
    top: 264.38px;
    width: 25%;
    height: 149px;
}

.project_img4 {
    position: absolute;
    left: 25%;
    top: 264.38px;
    width: 25%;
    height: 149px;
}

.project_img5 {
    position: absolute;
    left: 50%;
    top: 264.38px;
    width: 25%;
    height: 149px;
}

.project_img6 {
    position: absolute;
    left: 75%;
    top: 264.38px;
    width: 25%;
    height: 149px;
    
}