.footer {
    display: flex;
    justify-content: space-between;
}

.footer_form {
    display: flex;
    flex-flow: column nowrap;
}

.footer_return_button {
    background: wheat;
    border-radius: 4px;
}