 .gallery {
    width: 100%;
}

.gallery_main_img {
    width: 100%;
    height: 50%;
    border-radius: 4px;
}

.gallery_list_element {
    height: 15%;
    width: 10%;
    margin: 1%;
    border-radius: 4px; 
}

.gallery_list {
    height: 25%;
    width: 100%;

    display: flex;
    overflow: auto;
   
}