.gallery {
    width: 100%;
}

.gallery_main_img {
    width: 100%;
    height: 50%;
}

.gallery_list_element {
    width: 10%;
    margin: 1%;
}

.gallery_list {
    height: 25%;
    width: 100%;

    display: flex;
}