.section_services {
    padding-top: 100px;
}

.services_title {
    display: flex;
    align-items: center;
    font-size: 25px;
    text-transform: capitalize;
    width: 250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.services_title span {
    color: green;
}

.services_line {
    width: 40%;
    background: green;
    height: 2px;
}

.img_part {
    width: 100px;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
}

.text_part_1 {
    color: black;
    font-weight: bold;
}

.parts {
    display: flex;
    padding-top: 50px;
}

.parts h4 {
    width: 50%;
    text-align: center;
    margin-top: 7%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.parts p {
    padding-top: 20px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.part_1 {
    margin-top: 5%;
    width: 45%;
    height: 210px;
    border-width: 1px;
    background-color: rgb(212, 216, 212);
}

.part_2 {
    width: 45%;
    height: 210px;
    border-width: 1px;
    background-color: rgb(212, 216, 212);
}

.services_text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.services_text_title {
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 24px;
    
}

.services_text_title span {
    color: green;
}