.gallery {
    padding-top: 100px;
}

.gallery_title {
    display: flex;
    align-items: center;
    font-size: 25px;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.gallery_title span {
    color: green;
}

.gallery_line {
    width: 10%;
    background: green;
    height: 2px;
}

.carousel {
    padding-top: 50px;
}

.project_gallery {
    padding-top: 50px;
    position: relative;
}

.project_img {
    left: 0%;
    top: 30px;
    width: 100%;
    cursor: pointer;
}

